{% extends 'base.html' %}


{% block content2 %}
    <br><br>
    <form action="" method="GET" id="blog_form">
        <input type="text" value="{{query_value}}" name="query" placeholder="Search any...">
        &nbsp;        &nbsp;
        <button type="submit">Search</button>
    </form>
    <br>

    {% for blog in blogs %}
        <hr>
            username :- {{blog.author.username}} <br>
            title :- <a href="{% url 'blog-detail' blog.pk %}?back={{request.path}}">{{blog.title}}</a> <br>
            description :- {{blog.description}} <br>
            Tags : - 
            {% for tag in blog.tag_set.all %}
                |&nbsp;{{tag.name}}
            {% endfor %}
        <hr>
        <br><br>
    {% endfor %}


    {% include 'pagination.html' with queryset=blogs %}


{% endblock content2 %}